<div class="card col-lg-10 offset-lg-1" style="border: 0px;">

  <div class="card-block row">
    <div class="col-6">
      <h4 class="cardt-title">{{mesActual | numberToMonth}}</h4>
    </div>
  </div>

  <div class="card-block row">
    <ng-container *ngFor="let ent of listaEntidades">
      <div class="col-lg-6" style="margin-top:25px">
        <h4 class="cardt-title">{{ent.nombreEntidad}}</h4>
        <table sortable-table (sorted)="onSorted($event)" class="table table-responsive table-striped table-hover">
          <thead>
            <tr>
              <th sortable-column="fecha" scope="col">Fecha</th>
              <th scope="col" style="width:75%;">Descripción</th>
              <th sortable-column="importe" >Importe</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let u of listaGastos | groupBy: 'idEntidad': ent.id">
              <td>{{u.fecha | date:'dd-MM-yyyy'}}</td>
              <td>{{u.descripcion}}</td>
              <td style="text-align: right;">{{u.importe | number:'1.2-2' }}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </ng-container>
  </div>
</div>