/* You can add global styles to this file, and also import other style files */
/* @import './styles/bootstrap-3.3.7-dist/css/bootstrap.min.css'; */
@import "~ng-pick-datetime/assets/style/picker.min.css";


.cdk-overlay-container {
    position: fixed !important;
    z-index: 2000 !important;
}


.advanced-pie-legend .legend-items-container .legend-items{
    white-space: inherit !important;
}


.advanced-pie-legend .legend-items-container .legend-items .legend-item{
    margin-bottom: 30px;
}

/* 361px */
@media only screen and (max-width: 454px) {

    ngx-charts-chart > div{
        width:0px !important;
    }

    ngx-charts-advanced-pie-chart > div{ 
        width:auto !important;
        height:auto !important;      
    }

    .advanced-pie-legend-wrapper, .advanced-pie-legend, svg.ngx-charts{
        width:300px !important;
    }
    
    .advanced-pie-legend-wrapper{
        height: 500px !important;
    }

    svg > g {
        transform: translate(113, 100);
    }
}

/*362*/
@media only screen and (max-width: 721px) and (min-width: 454px) {

    ngx-charts-chart > div{
        width:0px !important;
    }

    ngx-charts-advanced-pie-chart > div{ 
        width:auto !important;
        height:auto !important;      
    }

    .advanced-pie-legend-wrapper, .advanced-pie-legend, svg.ngx-charts{
        width:400px !important;
    }

    .advanced-pie-legend-wrapper{
        height: 500px !important;
    }
}